body {
  border: 2px solid pink;
  height: 100vh;
  margin: 10px;
}

.grandparent {
  border: 2px solid black;
  padding: 40px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.parent {
  border: 2px solid green;
  padding: 40px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  border: 2px solid red;
  padding: 20px;
  background-color: aqua;
}